@layer base {
    @font-face {
        font-family: SouvenirStd;
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src:
        local('SouvenirStd'),
        url('/fonts/SouvenirStd/Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: SouvenirStd;
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src:
        local('SouvenirStd'),
        url('/fonts/SouvenirStd/BoldItalic.woff2') format('woff2');
    }
}